{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div>
    <h1>Main page</h1>

    <h2>Latest posts</h2>
    {% for post in latest_posts %}
        <div>
            <h3>#{{ post.id }} {{ post.title }}</h3>
            <div>{{ post.body }}</div>
        </div>
    {%  endfor %}

    <h2>Popular products</h2>
    {% for product in popular_products %}
        <div>
            <h3>#{{ product.id }} {{ product.name }}</h3>
            <div>{{ product.price }}USD</div>
        </div>
    {%  endfor %}

</div>
{% endblock %}
